<ion-app>
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-input type="text" label="nombre"[(ngModel)]="nombre" name="nombre" placeholder="ingresa tu nombre"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="text" label="usuario"[(ngModel)]="usuario" name="usuario" placeholder="ingresa tu usuario"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input type="password" label="contrasena" [(ngModel)]="contrasena" name="contrasena" placeholder="ingresa tu contraseña"></ion-input>
  </ion-item>

    <ion-button expand="block" (click)="ingresar()">
      ingresar
    </ion-button>
</ion-content>
</ion-app>