<ion-app>
  <ion-header>
    <ion-toolbar color="warning">
      <img id="img" src="../../assets/icon/caja_vecina_logo.png" alt="caja_vecina_logo">
    </ion-toolbar>

  </ion-header>

   <ion-content>
    <img id="user" src="../../assets/icon/usuario.png" alt="usuario">
    <p id="parrafos">Bienvenido</p>
    
   
   
   
    <ion-item>
      <ion-input type="text" label="Usuario" name="usuario" placeholder="Ingresa tu usuario" [(ngModel)]="usuario"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-input type="password" label="Contraseña" name="contrasena" placeholder="Ingresa tu contraseña" [(ngModel)]="contrasena"></ion-input>
    </ion-item>

      <br>
     <ion-button expand="block" (click)="ingresar()">
      ingresar
  </ion-button>
</ion-content>
</ion-app>
